<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Content-based image retrieval</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>Content-based image retrieval</h1>

    <!-- App description -->
    <div>
        <h2>Description</h2>
        <p>{{ app_description }}</p>
    </div>

    <!-- Query form -->
    <div>
        <h2>Query image search</h2>
         <form action="/" method="post" enctype="multipart/form-data">
            <label for="distance_metric">Select a distance metric:</label>
            <select id="distance_metric" name="distance_metric">
                <option value="euclidean">Euclidean</option>
                <option value="cityblock">Cityblock</option>
                <option value="minkowski">Minkowski</option>
                <option value="chebyshev">Chebyshev</option>
                <option value="cosine">Cosine</option>
                <option value="canberra">Canberra</option>
                <option value="jaccard">Jaccard</option>
                <option value="mahalanobis">Mahalanobis</option>
            </select>
            <br>
            <br>
            <label for="k">Select number of similar images to retrieve:</label>
            <select id="k" name="k">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
            </select>
            <br>
            <br>
            <label for="image">Upload a query image:</label>
            <input type="file" id="image" name="image" accept="image/*" required>
            <br>
            <br>
            <button type="submit">Search</button>
        </form>
    </div>
<!-- Uploaded image -->
    {% if query_image_url %}
        <h2>Uploaded image:</h2>
        <div class="img_center">
            <img src="{{ query_image_url }}" alt="Uploaded image">
        </div>
    {% endif %}
   {% if not breed_count.empty %}
    <h2>Breed counts:</h2>
    <ul>
        {% for breed, count in breed_count.items() %}
            <li>{{ breed }}: {{ count }}</li>
        {% endfor %}
    </ul>
   {% endif %}

    {% if filenames %}
        <h2>Similar Images:</h2>
        <div class="image-grid">
            {% for filename in filenames %}
                <div class="image-item">
                <img src="{{ url_for('static', filename='dog_images/' + filename) }}" alt="{{ filename }}">
                    <div class="image-caption">{{ filename }}</div>
                </div>
            {% endfor %}
        </div>
    {% endif %}


</body>
</html>
